.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: block;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--text-primary);
}

.table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  margin-top: 16px;
}

.table th, .table td {
  padding: 8px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

.table th {
  background-color: #f5f5f5;
}